*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.debug{
    border: 1px solid white;
    color: white;
}
.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/* main  */
main{
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: black;
    overflow-y: auto;
}
.user-container{
    width: 90%;
    margin: 40px auto;
}
.user-box-container{
    gap: 5px;
    justify-content: space-between;
}
.user-box{
    flex:0 1 calc(20% - 5px);
}
.user-box img{
    width: 100%;
}
/* nav-bar  */
.nav-bar{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100vw;
   height: 70px;
   background-color: #222222;
}