*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
.flex-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

/* main  */
main{
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: black;
    overflow-y: auto;
}

/* nav-bar  */
.nav-bar{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100vw;
   height: 70px;
   background-color: #222222;
}