*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.debug{
    border: 1px solid white;
    color: white;
}
.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/* main  */
main{
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: black;
    overflow-y: auto;
}
.up-fixed{
    position: fixed;
    top: 5px;
    right: 10px;
    z-index: 20;
}
.tools{
    padding:0 15px;
    text-align: center;
    font-weight: 200;
    font-size: 16px;
    color: white;
}
.tools span, .tools .fa-maximize{
    background-color: grey;
    padding: 3px;
    border-radius: 10px;
    margin-right: 5px;
}
.user-container{
    width: 90vw;
    margin: 0 auto;
    padding-top: 50px;
}
.user-box-container{
    justify-content: center;
    flex: 0 1 calc(100% / 7 - 10px);
    gap: 10px;
}
.user-box{
    width: 200px;
   position: relative;
}
.user-box img{
    width:100%;
}

.name{
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 8px 15px;
}
/* nav-bar  */
.nav-bar{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100vw;
   height: 70px;
   background-color: #222222;
}